
<div class="input-group">
  <input type="text" class="form-control" placeholder="Search...">
  <span class="input-group-btn">
      <button class="btn btn-default" type="button" aria-label="Search">       
          <ul class="navbar-nav navbar-nav-right">
              <li  ngbDropdown>
                  <a  class="mdi mdi-filter-outline" style="font-size: 18px;" ngbDropdownToggle>
                  </a>
                  <div ngbDropdownMenu >
                      <a class="dropdown-item" >
                      Service Center
                      </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" >
                      Area
                    </a>
                  </div>
                </li>
          </ul>         
      </button>
  </span>
  
</div> 
