<div>
    <div class="logo py-4">
      <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />
      <h4 class="name"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;John Smith</h4>
    </div>
    
    <a mat-list-item> <i class="mdi mdi-table-large menu-icon"></i> Account Settings</a>
    <br>
    <br>
    <a mat-list-item>  &nbsp;&nbsp; Personal Information</a>
    <br>
    <br>
    <a mat-list-item> &nbsp;&nbsp; Manage Address</a>
    <br>
    <br>
    <a mat-list-item> &nbsp;&nbsp; Reset Password</a>
    <hr>
    <a mat-list-item> <i class="mdi mdi-table-large menu-icon"></i> My Stuff</a>
    <hr>
    <a mat-list-item> &nbsp;&nbsp; My Coupons</a>
    <br>
    <br>
    <a mat-list-item> &nbsp;&nbsp; My reviews & ratings</a>
    <br>
    <br>
    <a mat-list-item> &nbsp;&nbsp; My Wishlist</a>
    <br>
    <br>
    <a mat-list-item> &nbsp;&nbsp; My Memberships</a>
    <br>
    <br>
    <a mat-list-item> &nbsp;&nbsp; My Orders</a>
    <br>
    <br>
    <a mat-list-item> &nbsp;&nbsp; Our Policies</a>
    <br>
    <br>
    <a mat-list-item> <i class="mdi mdi-table-large menu-icon"></i> &nbsp;Logout</a>
</div>
  