<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-addon view-40 shadow mb-3">
            <div class="card-img">
              <img src="assets/images/sample-single-service.jpg" alt="">
              <div class="img-overlay"></div>
              <div class="center-name d-flex flex-column justify-content-end">
                <h3>Vadya Yantra Musical Store</h3>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex justify-content-between">
                <div class="center-status">
                  <h5><strong>Open - Closes 8:30PM</strong></h5>
                </div>
                <div class="rating">
                  <p>
                    <i class="mdi mdi-star color-yellow"></i>
                    <i class="mdi mdi-star color-yellow"></i>
                    <i class="mdi mdi-star color-yellow"></i>
                    <i class="mdi mdi-star color-black"></i>
                    <i class="mdi mdi-star color-black"></i>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <p class="text-muted">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium sit optio a porro ratione laudantium impedit ea perspiciatis, esse obcaecati, fuga nobis molestias natus veniam earum necessitatibus ducimus commodi provident ut tempore in! Eos id vero, inventore perspiciatis fugiat neque laudantium illo dignissimos aliquam quas a voluptate nulla, nisi vitae.
              </p>
            </div>
            <div class="col-md-12 mt-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="d-flex flex-column">
                    <div>
                      <p><i class="mdi mdi-cellphone-iphone"></i> +91 7021840811</p>
                    </div>
                    <div>
                      <p><i class="mdi mdi-email-outline"></i> gaitonde@kalyug.in</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <p class="mb-0"><i class="mdi mdi-map-marker"></i> Ganesh Gaitonde</p>
                    <p class="mb-0 ml-3">101, Kabutar Khana, Bhutiya rasta</p>
                    <p class="mb-0 ml-3">Chand - 101</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mt-3 mb-5">
              <h4>Reviews</h4>
            </div>
            <div class="col-md-12">
              <div class="card card-addon overflow-show shadow-sm">
                <div class="container-fluid pt-3">
                  <div class="row">
                    <div class="col-md-2">
                      <div class="d-flex flex-column">
                        <div class="user-img">
                          <img src="assets/images/sample-single-service.jpg" alt="" width="100%" height="100%">
                        </div>
                        <div class="user-name justify-cselfy-end">
                          @JhonDoe
                        </div>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="d-flex flex-column">
                        <div class="review-heading">
                          <h4>Title For Review</h4>
                        </div>
                        <div class="review-msg">
                          <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nostrum quis tenetur fuga error, adipisci, </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="d-flex flex-column">
                        <div class="review-rating">
                          <p>
                            <i class="mdi mdi-star color-yellow-sm"></i>
                            <i class="mdi mdi-star color-yellow-sm"></i>
                            <i class="mdi mdi-star color-yellow-sm"></i>
                            <i class="mdi mdi-star color-black-sm"></i>
                            <i class="mdi mdi-star color-black-sm"></i>
                          </p>
                        </div>
                        <div class="review-date">
                          <p>3 days ago</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-addon shadow-sm">
            <div class="pt-5">
              <div class="half-circle">
                <h4 class="text-white booking-card-heading">Book Slot</h4>
              </div>
              <div class="d-flex justify-content-around mt-3 mb-2">
                <div class="days day1">
                  <p class="m-0 text-color-primary">Today</p>
                </div>
                <div class="days day2">
                  <p class="m-0 text-color-primary">Tomorrow</p>
                </div>
                <div class="days day3">
                  <p class="m-0 text-color-primary">Tuesday</p>
                </div>
              </div>
              <div class="mt-2 day-selected">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <div class="card shadow-sm">
            <div class="card-header">
              <h4 class="mb-0">Mornging</h4>
            </div>
            <div class="py-4 px-3">
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-around">
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                </div>
                <div class="d-flex justify-content-around mt-2">
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                </div>
                <div class="d-flex justify-content-around mt-2">
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <div class="card shadow-sm">
            <div class="card-header">
              <h4 class="mb-0">Afternoon</h4>
            </div>
            <div class="py-4 px-3">
              <div class="d-flex flex-column">
                <div class="d-flex justify-content-around">
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                </div>
                <div class="d-flex justify-content-around mt-2">
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                </div>
                <div class="d-flex justify-content-around mt-2">
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                  <div class="slot">
                    <a href="#" class="slot-btn">9:00 AM</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
