body {
  background-color: #fff!important;
}
.card-addon {
  position: relative!important;
  width: 100%!important;
  border-radius: 10px!important;
  overflow: hidden!important;
}
.view-40 {
  height: 40vh!important;
}
.card-img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(#333, .6);
  border-radius: 10px;
}
.center-name {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5%;
  left: 5%;
  color: #fff;
}
img {
  width: 100%;
  height: 100%;
}
.half-circle {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #003366;
  left: 0;
  top: -50%;
  border-radius: 50%;
}
.booking-card-heading {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}
.day-selected {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33%;
  height: 2px;
  background-color: #003366;
  border-radius: 5px;
  transition: linear .3s all;
}
.days:hover {
  cursor: pointer;
}
.text-color-primary {
  color: #003366;
}
.slot-btn {
  display: inline-block;
  padding: 7px 10px;
  border: 1px solid #003366;
  color: #003366;
  transition: linear .3s all;
  text-decoration: none;
  border-radius: 5px;
}
.slot-btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #003366;
  text-decoration: none;
}
.user-img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  transform: translateY(-60%);
}
.card.overflow-show {
  overflow: visible!important;
}
.user-name {
  padding: 7px 10px;
  background-color: #003366;
  color: #fff;
  width: 110px;
  text-align: center;
  font-size: .8rem;
  transform: translateX(-20px);
  border-radius: 0 5px 5px 5px;
}

