<div class="card">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/images/img1.png" alt="" class="img-fluid">
            
        </div>
        <div class="col-md-8">
            <h3 class="card-title mt-3">service center 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta non, consequatur facilis voluptatibus nihil nam aspernatur incidunt magnam repudiandae illum voluptates iste quis ut minus! Totam accusantium cum rem.
                Pellentesque ultricies elit non sollicitudin iaculis. Vivamus commodo congue nunc eu dictum. Morbi consectetur turpis vulputate leo ultricies, eget accumsan tortor dapibus. Integer cursus facilisis efficitur. Etiam pulvinar ut lorem eget lacinia. Nullam accumsan lectus et urna dictum, id condimentum quam venenatis. Etiam interdum turpis nec massa lobortis, sit amet lobortis dolor sollicitudin. Integer congue iaculis quam. Sed eleifend luctus odio, ac interdum diam interdum at. Nulla bibendum vitae arcu ac efficitur.

            </p>
            <h6>Open : 10.am close : 8 pm</h6>
            <button class="btn btn-success">Read More</button> <br>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </div>

        
    </div>
</div>
