<div class="container mt-5 shadow-lg p-3 mb-5 bg-body  scroll-bg" style="border-radius:40px">
    <div class="card mt-4 shadow-lg p-3 mb-5 bg-body " style="border-radius:20px" >
        <div class="row scroll-object" >
            <div class="col-md-4 " >
                <img src="assets/images/img1.png" width="100%" height="150%" alt="" class="img-fluid" style="border-radius:50px">
                
            </div>
            <div class="col-md-8 " >
                <h3 class="card-title mt-3 ">service center 1</h3>
                <p class="scroll-div" style="width: 650px;
                   height: 300px;
                    overflow: hidden;
                    overflow-y: scroll;
                   "
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta non, consequatur facilis voluptatibus nihil nam aspernatur incidunt magnam repudiandae illum voluptates iste quis ut minus! Totam accusantium cum rem.
                    Pellentesque ultricies elit non sollicitudin iaculis. Vivamus commodo congue nunc eu dictum. Morbi consectetur turpis vulputate leo ultricies, eget accumsan tortor dapibus. Integer cursus facilisis efficitur. Etiam pulvinar ut lorem eget lacinia. Nullam accumsan lectus et urna dictum, id condimentum quam venenatis. Etiam interdum turpis nec massa lobortis, sit amet lobortis dolor sollicitudin. Integer congue iaculis quam. Sed eleifend luctus odio, ac interdum diam interdum at. Nulla bibendum vitae arcu ac efficitur.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta non, consequatur facilis voluptatibus nihil nam aspernatur incidunt magnam repudiandae illum voluptates iste quis ut minus! Totam accusantium cum rem.
                    Pellentesque ultricies elit non sollicitudin iaculis. Vivamus commodo congue nunc eu dictum. Morbi consectetur turpis vulputate leo ultricies, eget accumsan tortor dapibus. Integer cursus facilisis efficitur. Etiam pulvinar ut lorem eget lacinia. Nullam accumsan lectus et urna dictum, id condimentum quam venenatis. Etiam interdum turpis nec massa lobortis, sit amet lobortis dolor sollicitudin. Integer congue iaculis quam. Sed eleifend luctus odio, ac interdum diam interdum at. Nulla bibendum vitae arcu ac efficitur.

                </p>
                <h6>Open : 10.am close : 8 pm</h6>
               
               <div   style="width: 270px;
               display: inline-block;
               ">
               
                    <span class="fa fa-star fa-2x checked" style="color: yellow;"></span>
                    <span class="fa fa-star fa-2x checked"></span>
                    <span class="fa fa-star fa-2x checked"></span>
                    <span class="fa fa-star fa-2x"></span>
                    <span class="fa fa-star fa-2x"></span>
                 
                            
                    <!--<span id="rateMe2"  class="empty-stars"></span>-->
                  
                  </div>
                  
            </div>

            
        </div>
    </div>

    <div class="card mt-4 shadow-lg p-3 mb-5 bg-body " style="border-radius:20px">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/img1.png" width="100%" height="150%" alt="" class="img-fluid"  style=" border-radius: 50px">
                
            </div>
            <div class="col-md-8">
                <h3 class="card-title mt-3">service center 2</h3>
                <p class="scroll-div" style="width: 650px;
                height: 300px;
                 overflow: hidden;
                 overflow-y: scroll;
                ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta non, consequatur facilis voluptatibus nihil nam aspernatur incidunt magnam repudiandae illum voluptates iste quis ut minus! Totam accusantium cum rem.
                    Pellentesque ultricies elit non sollicitudin iaculis. Vivamus commodo congue nunc eu dictum. Morbi consectetur turpis vulputate leo ultricies, eget accumsan tortor dapibus. Integer cursus facilisis efficitur. Etiam pulvinar ut lorem eget lacinia. Nullam accumsan lectus et urna dictum, id condimentum quam venenatis. Etiam interdum turpis nec massa lobortis, sit amet lobortis dolor sollicitudin. Integer congue iaculis quam. Sed eleifend luctus odio, ac interdum diam interdum at. Nulla bibendum vitae arcu ac efficitur.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta non, consequatur facilis voluptatibus nihil nam aspernatur incidunt magnam repudiandae illum voluptates iste quis ut minus! Totam accusantium cum rem.
                    Pellentesque ultricies elit non sollicitudin iaculis. Vivamus commodo congue nunc eu dictum. Morbi consectetur turpis vulputate leo ultricies, eget accumsan tortor dapibus. Integer cursus facilisis efficitur. Etiam pulvinar ut lorem eget lacinia. Nullam accumsan lectus et urna dictum, id condimentum quam venenatis. Etiam interdum turpis nec massa lobortis, sit amet lobortis dolor sollicitudin. Integer congue iaculis quam. Sed eleifend luctus odio, ac interdum diam interdum at. Nulla bibendum vitae arcu ac efficitur.
                </p>
                <h6>Open : 10.am close : 8 pm</h6>

                <div   style="width: 270px;
               display: inline-block;
               ">
               
                    <span class="fa fa-star fa-2x checked" style="color: yellow;"></span>
                    <span class="fa fa-star fa-2x checked"></span>
                    <span class="fa fa-star fa-2x checked"></span>
                    <span class="fa fa-star fa-2x"></span>
                    <span class="fa fa-star fa-2x"></span>
                 
                            
                    <!--<span id="rateMe2"  class="empty-stars"></span>-->
                  
                  </div>
                
                
            </div>

            
        </div>
    </div>

    <div class="card mt-4 shadow-lg p-3 mb-5 bg-body " style="border-radius:20px">
        <div class="row">
            <div class="col-md-4">
                <img src="assets/images/img1.png" width="100%" height="150%" style=" border-radius: 50px"
                alt="" class="img-fluid">
                
            </div>
            <div class="col-md-8">
                <h3 class="card-title mt-3">service center 3</h3>
                <p class="scroll-div" style="width: 650px;
                height: 300px;
                 overflow: hidden;
                 overflow-y: scroll;
                 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta non, consequatur facilis voluptatibus nihil nam aspernatur incidunt magnam repudiandae illum voluptates iste quis ut minus! Totam accusantium cum rem.
                    Pellentesque ultricies elit non sollicitudin iaculis. Vivamus commodo congue nunc eu dictum. Morbi consectetur turpis vulputate leo ultricies, eget accumsan tortor dapibus. Integer cursus facilisis efficitur. Etiam pulvinar ut lorem eget lacinia. Nullam accumsan lectus et urna dictum, id condimentum quam venenatis. Etiam interdum turpis nec massa lobortis, sit amet lobortis dolor sollicitudin. Integer congue iaculis quam. Sed eleifend luctus odio, ac interdum diam interdum at. Nulla bibendum vitae arcu ac efficitur.

                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dicta non, consequatur facilis voluptatibus nihil nam aspernatur incidunt magnam repudiandae illum voluptates iste quis ut minus! Totam accusantium cum rem.
                    Pellentesque ultricies elit non sollicitudin iaculis. Vivamus commodo congue nunc eu dictum. Morbi consectetur turpis vulputate leo ultricies, eget accumsan tortor dapibus. Integer cursus facilisis efficitur. Etiam pulvinar ut lorem eget lacinia. Nullam accumsan lectus et urna dictum, id condimentum quam venenatis. Etiam interdum turpis nec massa lobortis, sit amet lobortis dolor sollicitudin. Integer congue iaculis quam. Sed eleifend luctus odio, ac interdum diam interdum at. Nulla bibendum vitae arcu ac efficitur.
                </p>
                <h6>Open : 10.am close : 8 pm</h6>
               <!--<button class="btn btn-success">Read More</button> <br>-->
                <div class="mt-1">

                    <div   style="width: 270px;
               display: inline-block;
               ">
               
                    <span class="fa fa-star fa-2x checked" style="color: yellow;"></span>
                    <span class="fa fa-star fa-2x checked" style="color: yellow;"></span>
                    <span class="fa fa-star fa-2x checked" style="color: yellow;"></span>
                    <span class="fa fa-star fa-2x" style="color: yellow;"></span>
                    <span class="fa fa-star fa-2x"></span>
                 
                            
                    <!--<span id="rateMe2"  class="empty-stars"></span>-->
                  
                  </div>
                   
                </div>
            </div>

            
        </div>
    </div>




</div>


<div class="container mt-5 shadow-lg p-3 mb-5 bg-body scroll-bg">
    <table class="table table-bordered shadow-lg">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Image_URL</th>
          <th>Description</th>
          <th>Rating</th>
          
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let app-service-card of serviceCenterDetails">
          <td>{{app-service-card.id}}</td>
          <td>{{app-service-card.name}}</td>
          <td>{{app-service-card.email}}</td>
          <td>{{app-service-card.img_url}}</td>
          <td>{{app-service-card.describtion}}</td>
          <td>{{app-service-card.raiting}}</td>
          
          <!--<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="edit(student)">Edit</button></td>-->
          
        </tr>
      </tbody>
    </table>
</div>




