
<footer class="footer" style="background-color: #011c39;">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-3">
                <div class="footer-left">
                    <img src="assets/images/logo2.jpeg" width="80%" height="40%">
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam atque recusandae in sit sunt molestiae aliquid fugit. Mollitia eaque tempore iure sit nobis? Vitae nemo, optio maiores numquam quis recusandae.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row text-white" >
                    <div class="col-md-3">
                        <h2>Sitemap</h2>
                        <ul>
                            <li><u><a href="#">Home</a></u></li>
                            <li><u><a href="#">Appointments</a></u></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h2>About</h2>
                        <ul>
                            <li ><u><a href="#">Contact Us</a></u></li>
                            <li><u><a href="#">About Us</a></u></li>
                            <li><u><a href="#">BrandName Stories</a></u></li>
                        </ul>
                    </div>
            
                    <div class="col-md-3">
                        <h2>Social</h2>
                        <ul>
                            <li><u><a href="#">Facebook</a></u></li>
                            <li><u><a href="#">Instagram</a></u></li>
                            <li><u><a href="#">Linkedin</a></u></li>
                            <li><u><a href="#">Telegram</a></u></li>
                        </ul>
                    </div>
            
                    <div class="col-md-3">
                        <h2>Legal</h2>
                        <ul>
                            <li><u><a href="#">Return Policy</a></u></li>
                            <li><u><a href="#">Crystal Policy</a></u></li>
                            <li><u><a href="#">Terms & Conditions</a></u></li>
                            <li><u><a href="#">Privacy Policy</a></u></li>
                        </ul>
                    </div>
                </div>
            
                
            </div>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12">
        <div class="text-center" style="color: grey; padding: 10px; background-color:#003366 ; font-size: 14px;">
            <p>All rights reserved by ©VirtusaTeam 2022</p>
        </div>
    </div>
    </div>


</footer>